.App {
  text-align: center;
}

.title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 60px;
  color:  #f4ebc1;
}

.footer {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 15px;
  color:  #f4ebc1;
  margin: 50px;
}
